@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    height:100%;
}

body{
    background-color: rgb(249, 249, 249);
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://res.cloudinary.com/jerrick/image/upload/v1644267590/62018846e91766001efc19cc.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: white;
    text-shadow: 0 0 30px black;
}

.header {
    padding: 100px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    font-family: "roboto", sans-serif;
    font-size: 24px;
}
   
.btn-link {
    color: white;
    background: #11da22;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
} 

.btn-link:hover {
    background: #0c8a16;
}

.spotify-btn {
    background: #11da22;
    margin-top: 310px;
}

.spotify-btn:hover {
    background: #48804c;
}

.volumeSlider {
    position: absolute;
    top: 300px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 450px;
    height: 10px;
    border-radius: 20px;
    color: #ffffff;
}

.volume-fill-bar{
    background: #ffffff;
    border-radius: 20px;
    padding: 5px;
    margin-top: -40px;
    cursor: pointer;
}

.container{
    position: relative;
    padding: 10px;
}

.container .song-info{
    background-color: black;
    margin: 0 15px;
    padding: 15px 15px 5px 150px;
    border-radius: 15px 15px 0 0;
}

.container .song-info .song-name{
    color:aliceblue;
    font-size: 20px;
    margin: 3px 0 20px;
}

.container .song-info .artist-name{
    color:rgb(255, 255, 255);
    font-size: 14px;
}

.container .song-info .progress-bar{
    background-color: rgb(63, 63, 62);
    border-radius: 20px;
    cursor: pointer;
}

.container .song-info .progress-bar .fill-bar{
    width: 0%;
    height: 6px;
    border-radius: 20px;
    background: #11da22;
}

.container .song-info .time{
    font-size: 15px;
    color: aliceblue;
    margin: 10px 0;
}

.container .disk{
    max-width: 120px;
}

.container .disk .active{
    animation: rotate 3s linear 0s infinite forwards;
}

.container .disk .cover{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 5px;
    left: -150px;
    background: url("stay\ with\ me.jpeg"), url('Plastic\ love.jpg'), url("Remember\ Summer\ days.jpg"), url("flyday\ Chinatown.jpg"), url("cowboy-bebop-soundtrack.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border: 3px solid #ffffff;;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.container .disk .circle{
    position: absolute;
    width: 30px;
    height: 30px;
    left: -2%;
    top: 29%;
    z-index: 1;
    border-radius: 50%;
}

.container .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #292929;
    width: 450px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.container .controls #play{
    background-color:#11da22;
    color: #fff;
    padding: 15px 15px 15px 16.5px;
    font-size: 28px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.container .controls #play:hover{
    background: #0d8117;
}

.container .controls i{ 
    padding: 30px 8px;
    font-size: 35px;
    cursor: pointer;
    color: #919191;
    transition: all 0.3s ease;
}

.container .controls i:hover{ 
    color: #fff;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
